
header {
    float: right;

}
.name {
    float: left;
    background-color:#4aaaa5;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:20px;
    padding:20px;
}

h2 {
    color:#4aaaa5;
    
}
footer {
    color:white;
    background-color:#666666;
    width: 100%;
    padding:20px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

img {
    float: left;
    width: 200px;
    height: 220px;
    padding:20px;
    margin:20px;

}

.tabs {
    float: right;
    padding: 5px;
}

h5 {
    background:#4aaaa5;
}

#wallpaper {
    overflow: auto;
    background-image: url("../images/leaves-pattern.png");
    padding: 40px;
}

#container {
 background-color:white;
 overflow: auto;
 padding: 20px;
}

hr {
    margin: 0 10px;
}

.portfolio {
    width: 150px;
    hight: 100px;
}