
h1 {
    float: left;
    background-color:#4aaaa5;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:20px;
    padding:20px;
    
    }

.head {
    float: right;

}

h2 {
    color:#4aaaa5;
    
}
#copyright {
    color:white;
    background-color:#666666;
    width: 100%;
    margin: 20px;
    padding:20px;
    text-align: center;
}

#heads {
    float: left;
    width: 200px;
    height: 220px;
}

body
{
    height: 960px;
    width: 960px;
    
}

html
{
    height: 960px;
    width: 960px;
    
}